In [1]:
import pandas as pd
import numpy as np
import pylab as pl

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

from sklearn import neighbors, tree, naive_bayes, svm, neural_network
from sklearn.svm import SVC

In [2]:
dataset = pd.read_csv("features.csv")
dataset.head()
data = dataset.iloc[:, 0:2048].values
normalized_data=(data-data.mean())/data.std()
target = dataset.iloc[:,2048].values

In [3]:
labels = ['aborigene', 'praia', 'monumento','onibus','dinossauro','elefante','flor','cavalo','montanha','comida']
labels2 = ['Aborígene', 'Praia', 'Monumento','Ônibus','Dinossauro','Elefante','Flor','Cavalo','Montanha','Comida']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(normalized_data, target, test_size=0.30,stratify=target)

In [5]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
y_predic_knn = knn.predict(X_test)
dfknn1 = pd.DataFrame(confusion_matrix(y_test, y_predic_knn, labels = labels))
dfknn1.columns= labels2
dfknn1.index = labels2
dfknn1

1.0

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,300,0,0,0,0,0,0,0,0,0
Praia,0,300,0,0,0,0,0,0,0,0
Monumento,0,0,300,0,0,0,0,0,0,0
Ônibus,0,0,0,300,0,0,0,0,0,0
Dinossauro,0,0,0,0,300,0,0,0,0,0
Elefante,0,0,0,0,0,300,0,0,0,0
Flor,0,0,0,0,0,0,300,0,0,0
Cavalo,0,0,0,0,0,0,0,300,0,0
Montanha,0,0,0,0,0,0,0,0,300,0
Comida,0,0,0,0,0,0,0,0,0,300

In [6]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
y_predic_knn = knn.predict(X_test)
dfknn3 = pd.DataFrame(confusion_matrix(y_test, y_predic_knn, labels = labels))
dfknn3.columns= labels2
dfknn3.index = labels2
dfknn3

0.9986666666666667

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,298,0,1,0,0,0,0,1,0,0
Praia,0,298,0,0,0,0,0,0,2,0
Monumento,0,0,300,0,0,0,0,0,0,0
Ônibus,0,0,0,300,0,0,0,0,0,0
Dinossauro,0,0,0,0,300,0,0,0,0,0
Elefante,0,0,0,0,0,300,0,0,0,0
Flor,0,0,0,0,0,0,300,0,0,0
Cavalo,0,0,0,0,0,0,0,300,0,0
Montanha,0,0,0,0,0,0,0,0,300,0
Comida,0,0,0,0,0,0,0,0,0,300

In [7]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
y_predic_knn = knn.predict(X_test)
dfknn5 = pd.DataFrame(confusion_matrix(y_test, y_predic_knn, labels = labels))
dfknn5.columns= labels2
dfknn5.index = labels2
dfknn5

0.9986666666666667

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,297,1,1,0,0,0,0,1,0,0
Praia,0,299,0,0,0,0,0,0,1,0
Monumento,0,0,300,0,0,0,0,0,0,0
Ônibus,0,0,0,300,0,0,0,0,0,0
Dinossauro,0,0,0,0,300,0,0,0,0,0
Elefante,0,0,0,0,0,300,0,0,0,0
Flor,0,0,0,0,0,0,300,0,0,0
Cavalo,0,0,0,0,0,0,0,300,0,0
Montanha,0,0,0,0,0,0,0,0,300,0
Comida,0,0,0,0,0,0,0,0,0,300

In [8]:
knn = neighbors.KNeighborsClassifier(n_neighbors = 7)
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))
y_predic_knn = knn.predict(X_test)
dfknn7 = pd.DataFrame(confusion_matrix(y_test, y_predic_knn, labels = labels))
dfknn7.columns= labels2
dfknn7.index = labels2
dfknn7

0.9986666666666667

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,297,1,1,0,0,0,0,1,0,0
Praia,0,299,0,0,0,0,0,0,1,0
Monumento,0,0,300,0,0,0,0,0,0,0
Ônibus,0,0,0,300,0,0,0,0,0,0
Dinossauro,0,0,0,0,300,0,0,0,0,0
Elefante,0,0,0,0,0,300,0,0,0,0
Flor,0,0,0,0,0,0,300,0,0,0
Cavalo,0,0,0,0,0,0,0,300,0,0
Montanha,0,0,0,0,0,0,0,0,300,0
Comida,0,0,0,0,0,0,0,0,0,300

In [9]:
c45 = tree.DecisionTreeClassifier()
c45.fit(X_train, y_train)
print(c45.score(X_test, y_test))
y_predic_c45 = c45.predict(X_test)
dfc45 = pd.DataFrame(confusion_matrix(y_test, y_predic_c45, labels = labels))
dfc45.columns= labels2
dfc45.index = labels2
dfc45

0.922

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,249,12,16,2,2,3,5,3,1,7
Praia,6,265,11,2,4,1,1,3,5,2
Monumento,5,10,263,1,1,0,9,2,5,4
Ônibus,3,1,0,292,2,0,1,0,0,1
Dinossauro,3,2,3,0,283,1,3,0,0,5
Elefante,1,2,1,0,3,289,3,0,1,0
Flor,1,3,5,2,0,0,280,1,2,6
Cavalo,2,3,2,0,3,0,0,285,1,4
Montanha,0,13,4,0,0,1,1,2,278,1
Comida,3,3,5,1,2,0,0,4,0,282

In [10]:
c45 = tree.DecisionTreeClassifier(criterion = 'entropy')
c45.fit(X_train, y_train)
print(c45.score(X_test, y_test))
y_predic_c45 = c45.predict(X_test)
dfc45 = pd.DataFrame(confusion_matrix(y_test, y_predic_c45, labels = labels))
dfc45.columns= labels2
dfc45.index = labels2
dfc45

0.919

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,252,13,13,0,1,0,4,2,4,11
Praia,11,254,13,0,4,1,3,2,12,0
Monumento,11,5,266,1,4,1,3,1,4,4
Ônibus,0,1,0,295,1,0,0,1,2,0
Dinossauro,7,6,3,0,282,0,0,0,0,2
Elefante,2,0,1,1,0,289,0,3,1,3
Flor,6,0,2,2,0,1,283,2,0,4
Cavalo,7,1,0,2,5,1,0,282,0,2
Montanha,2,11,3,0,2,1,1,0,280,0
Comida,9,3,6,0,2,0,2,2,2,274

In [11]:
gnb = naive_bayes.GaussianNB()
gnb.fit(X_train, y_train)
print(gnb.score(X_test, y_test))
y_predic_gnb = gnb.predict(X_test)
dfgnb = pd.DataFrame(confusion_matrix(y_test, y_predic_gnb, labels = labels))
dfgnb.columns= labels2
dfgnb.index = labels2
dfgnb

0.9596666666666667

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,295,2,1,0,0,0,0,0,0,2
Praia,20,275,2,0,0,0,0,0,3,0
Monumento,16,9,275,0,0,0,0,0,0,0
Ônibus,6,0,0,294,0,0,0,0,0,0
Dinossauro,3,0,0,0,297,0,0,0,0,0
Elefante,18,0,0,0,0,282,0,0,0,0
Flor,0,0,0,0,0,0,299,0,0,1
Cavalo,6,0,0,0,0,0,0,294,0,0
Montanha,18,8,5,0,0,0,0,0,269,0
Comida,1,0,0,0,0,0,0,0,0,299

In [12]:
svm = svm.SVC(kernel = 'poly', C = 1000,gamma = 'auto')
svm.fit(X_train, y_train) 
print(svm.score(X_test, y_test))
y_predic_svm = svm.predict(X_test)
dfsvm = pd.DataFrame(confusion_matrix(y_test, y_predic_svm, labels = labels))
dfsvm.columns= labels2
dfsvm.index = labels2
dfsvm

1.0

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,300,0,0,0,0,0,0,0,0,0
Praia,0,300,0,0,0,0,0,0,0,0
Monumento,0,0,300,0,0,0,0,0,0,0
Ônibus,0,0,0,300,0,0,0,0,0,0
Dinossauro,0,0,0,0,300,0,0,0,0,0
Elefante,0,0,0,0,0,300,0,0,0,0
Flor,0,0,0,0,0,0,300,0,0,0
Cavalo,0,0,0,0,0,0,0,300,0,0
Montanha,0,0,0,0,0,0,0,0,300,0
Comida,0,0,0,0,0,0,0,0,0,300

In [13]:
mlp = neural_network.MLPClassifier(max_iter = 4000)
mlp.fit(X_train, y_train)
print(mlp.score(X_test, y_test))
y_predic_mlp = mlp.predict(X_test)
dfmlp = pd.DataFrame(confusion_matrix(y_test, y_predic_mlp, labels = labels))
dfmlp.columns= labels2
dfmlp.index = labels2
dfmlp

1.0

,Aborígene,Praia,Monumento,Ônibus,Dinossauro,Elefante,Flor,Cavalo,Montanha,Comida
Aborígene,300,0,0,0,0,0,0,0,0,0
Praia,0,300,0,0,0,0,0,0,0,0
Monumento,0,0,300,0,0,0,0,0,0,0
Ônibus,0,0,0,300,0,0,0,0,0,0
Dinossauro,0,0,0,0,300,0,0,0,0,0
Elefante,0,0,0,0,0,300,0,0,0,0
Flor,0,0,0,0,0,0,300,0,0,0
Cavalo,0,0,0,0,0,0,0,300,0,0
Montanha,0,0,0,0,0,0,0,0,300,0
Comida,0,0,0,0,0,0,0,0,0,300